<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>HTML Factory</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" integrity="sha256-pDcK9eD3CHRmrOhlHdlr87HvMWbmpvtjNsVyhCjlU38=" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.jpg">
</head>
<body>
  <div id="app">
    <v-app>
      <v-container dark fluid fill-height>
        <v-row justify="center">
          <v-col lg="9">
            <div class="text-center mb-4 site-title yellow--text">
              HTML-Factory
            </div>
            <v-card outlined class="pa-5">
              <v-textarea id="input-target" class="yellow--text" label="Paste your HTML Here" color="yellow" rows="30" no-resize v-model="input"></v-textarea>
              <v-card-actions>
                <v-select label="Pick your actions" multiple v-model="actions" :items="options" chips width="300" color="yellow" item-color="yellow" menu-props="offsetY"></v-select>
                <v-spacer></v-spacer>
                <v-btn icon fab class="yellow js-clip grey--text text--darken-2" data-clipboard-target="#input-target" @click="format">
                  <v-icon>mdi-clipboard-text-outline</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-snackbar v-model="doneSnack" timeout="3000">
        HTML have been copied to clipboard
        <v-btn class="yellow--text" text @click="doneSnack =! doneSnack">Dismiss</v-btn>
      </v-snackbar>
      <v-snackbar v-model="emptySnack" timeout="3000">
        Please make sure HTML is pasted
        <v-btn class="red--text" text @click="emptySnack =! emptySnack">Dismiss</v-btn>
      </v-snackbar>
      <v-snackbar v-model="noactSnack" timeout="3000">
        Please select actions
        <v-btn class="red--text" text @click="noactSnack =! noactSnack">Dismiss</v-btn>
      </v-snackbar>
    </v-app>
  </div>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js" integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.0.15/dist/vuetify.min.js" integrity="sha256-zGlKlXaHi/4rUyceAzYi4ZdTL7WYF03FIybeWk/UUbk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous"></script>
  <script src="js/format.js" charset="utf-8"></script>
</body>
</html>
